# first list the packages you wish to download from PyPI
teachbooks == 0.1.0 # depends on jupyter-book
jupyterbook-patches==1.6.2
sphinx-image-inverter == 1.1.2
download_link_replacer == 1.0.4
sphinx-tudelft-theme == 1.1.5
sphinx-exercise == 1.0.1
sphinx-named-colors == 1.0.1
teachbooks-sphinx-tippy == 1.0.9
sphinx-iframes == 1.0.5

git+https://github.com/TeachBooks/Sphinx-Thebe #BUMP
