# first list the packages you wish to download from PyPI
teachbooks # depends on jupyter-book
jupyterbook-patches
sphinx-image-inverter
download_link_replacer
sphinx-tudelft-theme
git+https://github.com/TeachBooks/sphinx-exercise@titels #sphinx-exercise nog niet vertaald naar NL
sphinx-named-colors
teachbooks-sphinx-tippy
sphinx-iframes
git+https://github.com/TeachBooks/sphinx-proof #sphinx-proof vertaald nog niet naar NL

git+https://github.com/TeachBooks/Sphinx-Thebe #BUMP
